html
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  background: transparent

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote::before, blockquote::after,
q::before, q::after
  content: ''
  content: none

a
  text-decoration: none

body
  background-color: #000
  font-family: 'Roboto', sans-serif
  font-size: 100%

.main
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 0 20px
  height: 100vh

.title
  background: url(../images/logo-frontinsampa-2018.png) no-repeat center 0
  min-height: 135px
  text-indent: -99999px
  width: 100%

.subtitle
  color: #aba9a9
  text-align: center
  margin: 35px 0 70px
  font-size: 18px

.ticket-button
  background-color: darken(#ff685c, 5%)
  display: inline-block
  margin: 0 auto
  font-size: 20px
  color: #fff
  padding: 20px 30px
  transition: background-color ease-in .25s

  &:hover, &:focus, &:active
    transition: background-color ease-out .35s
    background-color: #ff685c


@media screen and (min-width: 600px)

  .main
    &::before,
    &::after
      content: ""
      background: url(../images/bg.png) no-repeat center 0
      width: 341px
      height: 287px
      position: absolute
      opacity: .2

    &::before
      left: 0
      bottom: 0

    &::after
      right: 0
      top: 0
      transform: rotate(180deg)
